name = "SPRIGHT"
uuid = "3695a3c4-6718-48f1-a527-58d476e53586"
authors = ["Aditya Sengupta <aditya.sengupta@berkeley.edu>", "Ben Hoberman <bhoberman@berkeley.edu>", "Catherine Huang <thecatherinehuang@berkeley.edu>", "Tynan Sigg <tsigg@berkeley.edu>", "Orhan Ocal", "Amirali Aghazadeh"]
version = "0.1.0"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Pipe = "b98c9c47-44ae-5843-9183-064241ee97a0"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
